body {
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: white;
  padding: 0;
}

* {
  box-sizing: border-box;
}
